*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common tag*/
body{
    font-family: 'Lato', sans-serif;
     font-family: 'Work Sans', sans-serif;
}

.banner-h{
    color:#131313;
text-align: center;

font-size: 3.2rem;
 margin-top: 100px;
margin-bottom: 20px;
font-weight: 700;

}

.banner-p{
    color:  #727272;
text-align: center;
font-family: Work Sans;
font-size: 16px;
margin-bottom: 40px;

line-height: 20px; 
font-weight: 400;
}

.banner-btn{
    margin-top: 40px;
    border-radius: 8px;
background: #FF900E;
    padding:13px 40px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 15px;
    transition: all 1s;
 
}

.banner-btn:hover{
    background-color: aquamarine;
    color: black;
}



/*header style*/

header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 40px 230px;
}

header h3{
    font-weight: 700;
    font-size: 2rem;
}

nav{
    display: flex;
justify-content: space-between;
align-items: center;
}

nav ul{
    display: flex;
   gap: 50px;
   list-style: none;
   font-size: 1.1rem;
   font-weight: 500;
   color:  #424242;
}

#login{
    margin-left: 50px;

}


/*banner section*/

.banner-text{


max-width: 800px;
text-align: center;
margin: 0 auto;
 
}


.header-img{
    width: 100%;
    border-radius: 8px;

    margin-top: 40px;
}

/*main section*/

main{
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.span-1{color: var(--dark-03, #727272);
 
    font-size: 35px;
   
    font-weight: 500;
 }

.span-3{color: #FF900E;

    font-size: 35px;

    font-weight: 700;
    
}

.teams-section{
    display: flex;
    align-items: center;
}

.teams-img{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding-left: 200px;
    padding-right: 100px;
}

.teams-text{
    padding-right: 100px;
}
.teams-text p{
    color: var(--dark-03, #727272);

font-size: 16px;

font-weight: 400;
line-height: 20px; /* 162.5% */
}
.teams-text h3{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 35px;
     margin-bottom: 20px;
    font-weight: 700;}
    
.teams-text h3{
    font-size: 25px;
}

.span-1{ font-size: 25px;}
.span-3{
    font-size: 25px;
}

.teams-img img{
    width: 250px;
}
/*responsive section*/


@media screen and (max-width:576px){

    header{
        padding: 10px;
    }

    nav{
      flex-direction: column;
    }

   nav ul li{
        flex-direction: column;
      
    }

    nav ul{
        margin-top: 20px;
        gap:20px;
    }

    
    header h3{
       
        font-size: 20px;
    }

    .banner-h{
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    .banner-p{
        font-size: 10px;
    }
    .banner-btn{
        padding: 12px 20px;
    }

    /*team section*/
    .teams-section{
        flex-direction: column;
    }
    
    .teams-img{
        grid-template-columns: 1fr;
        padding: 10px;
       
    }

    .teams-img img{
        width: 100%;
    }
    .teams-text{
    flex-direction: column;
    justify-content: center;
   margin-left: 50px;
    }



.spann{
    margin-top: 20px;
    text-align: center;
}


}

